@using SchoolAsset.DataLayer
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SchoolAsset.Present_Layer</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/SchoolAsset.Present_Layer.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="//cdn.datatables.net/2.2.2/css/dataTables.dataTables.min.css" />
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow mb-3" style="background-color:orange">
            <div class="container-fluid">
                <a class="navbar-brand" style="font-weight:bold;color:white" asp-area="Customer" asp-controller="Home" asp-action="Index">XYZ School</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav me-auto">
                            <li class="nav-item">
                                <a class="nav-link text-light" style="font-weight:bold" asp-area="Customer" asp-controller="Home" asp-action="Index">Trang Chủ</a>
                            </li>                    
                            <li class="nav-item">
                                <a class="nav-link text-light" style="font-weight:bold" asp-area="Customer" asp-controller="Home" asp-action="Privacy">Tin tức và Sự kiện</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-light" style="font-weight:bold" asp-area="Customer" asp-controller="Home" asp-action="Introduce">Giới Thiệu</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-light" style="font-weight:bold" asp-area="Customer" asp-controller="Home" asp-action="Major">Ngành học</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-light" style="font-weight:bold" asp-area="Customer" asp-controller="Home" asp-action="Contact">Liên hệ</a>
                            </li>
                        @if (User.IsInRole(SD.Role_Admin))
                        {
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle text-light" style="font-weight:bold" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Content Managment
                                </a>
                                <ul class="dropdown-menu" style="background-color:mediumorchid">
                                    <li class="nav-item">
                                        <a class="dropdown-item text-light" style="font-weight:bold" asp-area="Admin" asp-controller="Building" asp-action="Index">Building</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="dropdown-item text-light" style="font-weight:bold" asp-area="Admin" asp-controller="RoomType" asp-action="Index">RoomType</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="dropdown-item text-light" style="font-weight:bold" asp-area="Admin" asp-controller="Room" asp-action="Index">Room</a>
                                    </li>
                                     <li class="nav-item">
                                        <a class="dropdown-item text-light" style="font-weight:bold" asp-area="Admin" asp-controller="Mainternance" asp-action="Index">Maniternance</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="dropdown-item text-light" style="font-weight:bold" asp-area="Admin" asp-controller="Category" asp-action="Index">Category</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="dropdown-item text-light" style="font-weight:bold" asp-area="Admin" asp-controller="Asset" asp-action="Index">Asset</a>
                                    </li>
                                    <li><hr class="dropdown-divider"></li>
                                    <li class="nav-item">
                                        <a class="dropdown-item text-light" style="font-weight:bold" asp-area="Identity" asp-page="/Account/Register">Create User</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="dropdown-item text-light" style="font-weight:bold" asp-area="Admin" asp-controller="User" asp-action="Index">Manage User</a>
                                    </li>

                                </ul>
                            </li>
                        }
                    </ul>
                    <partial name="_LoginPartial"/>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="//cdn.datatables.net/1.13.3/js/jquery.dataTables.min.js" asp-append-version="true"></script>

    <script src="https://cdn.tiny.cloud/1/g28lhnxtlihu4l4a381gw7tz47voznshwbi10lmsvlekrfme/tinymce/6/tinymce.min.js" referrerpolicy="origin">
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
